<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mdapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MDApp">
        <activity
            android:name=".KosztPaliwa"
            android:exported="false" />
        <activity
            android:name=".TemperaturaBudynku"
            android:exported="false" />
        <activity
            android:name=".IzolacjaBudynku"
            android:exported="false" />
        <activity
            android:name=".CenaZrodla"
            android:exported="false" />
        <activity
            android:name=".StrefaBudynku"
            android:exported="false" />
        <activity
            android:name=".RoczneKoszty"
            android:exported="false" />
        <activity
            android:name=".RodzajZrodla"
            android:exported="false" />
        <activity
            android:name=".IloscMocy"
            android:alwaysRetainTaskState="true"
            android:exported="false" />
        <activity
            android:name=".IloscWody"
            android:exported="false" />
        <activity
            android:name=".LiczbaMieszkancow"
            android:exported="false" />
        <activity
            android:name=".LiczbaBudynku"
            android:exported="false" />
        <activity
            android:name=".RodzajBudynku"
            android:alwaysRetainTaskState="true"
            android:exported="false" />
        <activity
            android:name=".WymiaryBudynku"
            android:alwaysRetainTaskState="true"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>